html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.container1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container1 a {
    width: 400px;
    height: 20px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    border: 1px solid black;
}

.pijl {
    font-size: 50px;
    position: absolute;
    top: 10%;
    text-decoration: none;
    color: black;
}

.container2, .container3, .container4, .container5, .container6 {
    display: none;
}

.container2, .container3, .container4, .container5, .container6 {
    width: 400px;
    height: 400px;
    background-color: lightblue;
    border: 1px solid black;
    position: absolute;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 100px;
    margin: 0;
}

.container2 i, .container3 i, .container4 i, .container5 i, .container6 i {
    font-size: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
}

img {
    margin-top: 10%;
    width: 120vh;
    height: 70vh;
}

.entrance {
    text-decoration: none;
    position: absolute;
    top: 66%;
    left: 27.7%;
    opacity: 0;
}

.raptor {
    text-decoration: none;
    position: absolute;
    top: 60.3%;
    left: 23.5%;
    opacity: 0;
}

.egg {
    text-decoration: none;
    position: absolute;
    top: 62.2%;
    left: 33.5%;
    opacity: 0;
}

.bites {
    text-decoration: none;
    position: absolute;
    top: 58%;
    left: 35.5%;
    opacity: 0;
}

.track {
    text-decoration: none;
    position: absolute;
    top: 44.8%;
    left: 46.2%;
    opacity: 0;
}