html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.container1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.pijl {
    font-size: 50px;
    position: absolute;
    top: 10%;
    text-decoration: none;
    color: black;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 100px;
    margin: 0;
}

.container2 i, .container3 i, .container4 i, .container5 i, .container6 i {
    font-size: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
}

img {
    margin-top: 10%;
    width: 120vh;
    height: 70vh;
}

.entrance {
    text-decoration: none;
    position: absolute;
    top: 66%;
    left: 27.7%;
    opacity: 0;
}

.raptor {
    text-decoration: none;
    position: absolute;
    top: 60.3%;
    left: 23.5%;
    opacity: 0;
}

.egg {
    text-decoration: none;
    position: absolute;
    top: 62.2%;
    left: 33.5%;
    opacity: 0;
}

.bites {
    text-decoration: none;
    position: absolute;
    top: 58%;
    left: 35.5%;
    opacity: 0;
}

.track {
    text-decoration: none;
    position: absolute;
    top: 44.8%;
    left: 46.2%;
    opacity: 0;
}

.brachio {
    text-decoration: none;
    position: absolute;
    top: 73%;
    left: 39.2%;
    opacity: 0;
}

.mealstrom {
    text-decoration: none;
    position: absolute;
    top: 51.3%;
    left: 26.2%;
    opacity: 0;
}

.tenders {
    text-decoration: none;
    position: absolute;
    top: 56%;
    left: 33%;
    opacity: 0;
}

.creates_live {
    text-decoration: none;
    position: absolute;
    top: 47.2%;
    left: 35.7%;
    opacity: 0;
}

.trail {
    text-decoration: none;
    position: absolute;
    top: 67.6%;
    left: 47%;
    opacity: 0;
}

.fries {
    text-decoration: none;
    position: absolute;
    top: 55.7%;
    left: 37.5%;
    opacity: 0;
}

.dino_escape {
    text-decoration: none;
    position: absolute;
    top: 59.7%;
    left: 47.2%;
    opacity: 0;
}

.flying {
    text-decoration: none;
    position: absolute;
    top: 44.5%;
    left: 27.5%;
    opacity: 0;
}

/* entrance style */

.entrance1 img {
    width: 90vh;
    height: 70vh;
}

.pijl1 {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 10%;
    text-decoration: none;
    color: black;
}

.container1 a {
    width: 62vh;
    height: 14vh;
    position: absolute;
    top: 70%;
    left: 32%;
    border: 1px solid black;
    opacity: 0;
}

.container2 {
    display: none;
}

.container2 img {
    width: 90vh;
    height: 90vh;
    position: absolute;
    top: -12%;
    left: 25%;
}

.container2 i {
    position: absolute;
    top: 18%;
    right: 34.5%;
}

.correct_answers img {
    display: none;
}

#answer1 {
    width: 4.8vh;
    height: 4.8vh;
    position: absolute;
    top: 17.7%;
    left: 36.1%;
}

#answer2 {
    width: 4.8vh;
    height: 4.8vh;
    position: absolute;
    top: 27.5%;
    left: 36.1%;
}

#answer3 {
    width: 4.8vh;
    height: 4.8vh;
    position: absolute;
    top: 37.3%;
    left: 36.1%;
}

#answer4 {
    width: 4.8vh;
    height: 4.8vh;
    position: absolute;
    top: 47.1%;
    left: 36.1%;
}

#answer5 {
    width: 4.8vh;
    height: 4.8vh;
    position: absolute;
    top: 57.0%;
    left: 36.1%;
}


/* raptor style */

.raptor1 img {
    width: 90vh;
    height: 70vh;
    position: absolute;
    top: 0%;
    left: 25%;
}

.raptor3 a {
    width: 3vh;
    height: 1vh;
    position: absolute;
    top: 29.5%;
    left: 43%;
    border: 1px solid black;
    opacity: 0;
}

.answer {
    display: none;
}

.answer img {
    width: 90vh;
    height: 70vh;
    position: absolute;
    top: 2%;
    left: 25%;
}

.answer i {
    position: absolute;
    top: 34%;
    right: 33.5%;
    font-size: 5vh;
    color: black;
}

.answer h1 {
    font-size: 10vh;
    position: absolute;
    top: 54%;
    left: 51%;
    transform: translate(-50%, -50%);
}

/* egg style */

.egg1 img {
    width: 90vh;
    height: 70vh;
}

.egg2 a {
    width: 2vh;
    height: 3vh;
    position: absolute;
    top: 55%;
    left: 29%;
    border: 1px solid black;
    opacity: 0;
}

/* bites style */

.raptorbites1 img {
    width: 90vh;
    height: 70vh;
}

.raptorbites2 a {
    width: 2vh;
    height: 1.7vh;
    position: absolute;
    top: 54%;
    left: 37.8%;
    border: 1px solid black;
    opacity: 0;
}

/* t-rex style */

.t-rex1 img {
    width: 90vh;
    height: 70vh;
}

.t-rex2 a {
    width: 2.2vh;
    height: 1.7vh;
    position: absolute;
    top: 41%;
    left: 45.3%;
    border: 1px solid black;
    opacity: 0;
}

/* brachiosaurus style */

.brachio1 img {
    width: 90vh;
    height: 70vh;
}

.brachio2 a {
    width: 1.6vh;
    height: 1.7vh;
    position: absolute;
    top: 81%;
    left: 26.6%;
    border: 1px solid black;
    opacity: 0;
}

/* mealstorm style */

.mealstrom1 img {
    width: 90vh;
    height: 70vh;
}

/* tenders style */

.tenders1 img {
    width: 90vh;
    height: 70vh;
}

/* creates live style */

.creates_live1 img {
    width: 90vh;
    height: 70vh;
}

/* trail style */

.trail1 img {
    width: 90vh;
    height: 70vh;
}

/* fries style */

.fries1 img {
    width: 90vh;
    height: 70vh;
}

/* dino escape style */

.dino_escape1 img {
    width: 90vh;
    height: 70vh;
}

/* flying style */

.flying1 img {
    width: 90vh;
    height: 70vh;
}

